<!-- HTML code from https://codepen.io/supah/pen/jqOBqp -->

{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css">

	<title>Chatbot UNPAD</title>
</head>
<body>
	<div class="chat">
		<div class="chat-title">
			<h1 style="font-weight: bold">Chatbot UNPAD</h1>
			<span class="dot"></span><h2>Ready</h2>
		</div>

		<div class="messages">
			<div class="messages-content"></div>
		</div>

		<div class="message-box">
			<textarea type="text" class="message-input" placeholder="Type message..."></textarea>
			<button type="submit" class="message-submit">Send</button>
		</div>
	</div>

	<div class="bg"></div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{% static 'js/js.cookie.js' %}"></script>
<script type="text/javascript">
	/* uisng JS code from https://codepen.io/supah/pen/jqOBqp and Chatterbot */
	var chatbotUrl = '{% url "chat" %}';
	var csrftoken = Cookies.get('csrftoken');

	function csrfSafeMethod(method) {
		// these HTTP methods do not require CSRF protection
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}

	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		}
	});

	/* ============================================================== */
	var $messages = $('.messages-content'),
	date, hour, minute,
	i = 0;

	$(window).load(function() {
		$messages.mCustomScrollbar();
		setTimeout(function() {
			greeting();
		}, 50);
	});

	// animasi bubble chat menunggu chatbot menjawab
	function waitForReply(){
		$('.message-input').val(null);
		$('<div class="message loading new"><figure class="avatar"><img src="static/img/unpadbw.jpg" /></figure><span></span></div>').appendTo($('.mCSB_container'));
		updateScrollbar();
	}

	function updateScrollbar() {
		$messages.mCustomScrollbar("update").mCustomScrollbar('scrollTo', 'bottom', {
			scrollInertia: 10,
			timeout: 0
		});
	}

	// mendapatkan waktu saat pesan terkirim
	function setDate(){
		date = new Date()
		if (minute != date.getMinutes()) {
			minute = date.getMinutes();
			$('<div class="timestamp">' + date.getHours() + ':' + minute + '</div>').appendTo($('.message:last'));
		}
	}

	function insertMessage() {
		var inputData = {
			'text': $('.message-input').val()
		}

		writeChat(inputData.text);
		waitForReply();

		// mengirimkan data untuk diolah backend
		$.ajax({
			type : "POST",
			url : '/chat/',
			dataType : 'json',
			data : inputData,
			beforeSend: function(xhr, settings) {
				console.log("Before Send");
				$.ajaxSettings.beforeSend(xhr, settings);
			},

			success : function(data){
				if (data.link){
					// jika jawaban bot memiliki link
					reply = data.jawaban + '<a href="' + data.link + '" target="_blank">Search!</a>'
				}
				else{
					reply = data.jawaban
				}

				writeChat(reply,"bot");
				$('.message.loading').remove();
				console.log(data);
				updateScrollbar();
			}
		});
	}

	$(window).on('keydown', function(e) {
		if (e.which == 13) {
			if ($('.message-input').val() == '') {
				return false;
			}
			else{
				insertMessage();
				return false;
			}
		}
	})

	// untuk menyapa pengguna pertama kali
	function greeting() {
		if ($('.message-input').val() != '') {
			return false;
		}

		waitForReply()

		setTimeout(function() {
			$('.message.loading').remove();
			writeChat("Halo, selamat datang. Silakan bertanya...", "bot");
		}, 1000 + (Math.random() * 20) * 100);
	}

	// mengirim jawaban bot ke chatroom
	function writeChat(text, type){
		if(type == "bot"){
			$('<div class="message new"><figure class="avatar"><img src="static/img/unpadbw.jpg" /></figure>' + text + '</div>').appendTo($('.mCSB_container')).addClass('new');
		}
		else{
			$('<div class="message message-personal">' + text + '</div>').appendTo($('.mCSB_container')).addClass('new');
		}

		setDate();
		updateScrollbar();
	}
</script>
</html>